@model BW2_Team6.Models.RecoverViewModel

@{
    ViewData["Title"] = "Create";
    var animalIds = ViewBag.AnimalId;
}

<h1 class="mb-4">Create New Recover</h1>

<h4 class="text-muted">Recover Information</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data" class="shadow-sm p-4 rounded">
            <input type="hidden" id="animalId" name="animalId" value="@animalIds" />

            <div class="mb-3">
                <label asp-for="Image" class="form-label fs-">Inserisci Immagine</label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>


                <h6>Stato del ricovero</h6>
            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="IsActive" id="isActiveCheckbox" />
                <label class="form-check-label fs-6"  for="isActiveCheckbox">
                    @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>

            <div class="d-grid gap-2">
                <input type="submit" value="Create" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
