
@{
    ViewData["Title"] = "SearchYourAnimal";
}

<h1>Cerca il tuo animale</h1>

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">Search Your Animal</h1>
                <div class="form-group">
                    <label for="microchipValue">Microchip Value</label>
                    <input type="text" id="microchipValue" class="form-control" placeholder="Enter microchip value">
                </div>
                <button id="researchM" class="btn btn-primary">Research</button>
                <div id="information" class="mt-4"></div>
            </div>
        </div>
    </div>
</div>
    </div>
