@model BW2_Team6.Models.RecoverViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>RecoverViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" enctype="multipart/form-data">
            <div class="form-group">
                <div>
                    <label>Existing Image</label>
                    @if (!string.IsNullOrEmpty(Model.ExistingImagePath))
                    {
                        <img src="@Model.ExistingImagePath" alt="Existing Image" />
                    }
                </div>
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
