
@{
    ViewData["Title"] = "SearchForPharmacist";
}

<h1>SearchForPharmacist</h1>

<input type="text" id="fiscalCode"/>
<button id="ResearchFC">Research</button>

<div id="fiscalCodeInformation"></div>


<input type="date" id="date"/>
<button id="ResearchD">Research</button>

<div id="dateInformation"></div>