
@{
    ViewData["Title"] = "SearchForPharmacist";
}

<h1 class="text-center my-4">Search for Pharmacist</h1>


    <div class="row mb-4 justify-content-center">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" id="fiscalCode" class="form-control" placeholder="Enter Fiscal Code" />
                <button id="ResearchFC" class="btn btn-primary">Search</button>
            </div>
            <div id="fiscalCodeInformation" class="mt-3 p-3 bg-light border rounded"></div>
        </div>
    </div>

    <div class="row mb-4 justify-content-center">
        <div class="col-md-6">
            <div class="input-group">
                <input type="date" id="date" class="form-control" />
                <button id="ResearchD" class="btn btn-primary">Search</button>
            </div>
            <div id="dateInformation" class="mt-3 p-3 bg-light border rounded"></div>
        </div>
    </div>