html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to right, #ffecd2, #fcb69f);;
}

/* Stile per l'intestazione */
.display-4 {
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.lead {
    color: #555;
}

/* Stile per le card */
.card {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Icone delle card */
.card-body i {
    color: #f98d3e;
    transition: color 0.3s ease;
}

.card:hover i {
    color: #f76c5e;
}

/* Testi delle card */
.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

.card-text {
    color: #666;
}

/* Stile per i bottoni */
.btn-primary {
    background-color: #f98d3e;
    border: none;
    color: #fff !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
    background-color: #f76c5e;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 108, 94, 0.5);
}

/* Stile per la card di login */
.login-card {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.login-card .display-4 {
    color: #333;
    font-weight: 700;
}

.login-card .form-label {
    color: #555;
    font-weight: 600;
}

.login-card .btn-primary {
    background-color: #f98d3e;
    border: none;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.login-card .btn-primary:hover {
    background-color: #f76c5e;
}

.login-card .btn-link {
    color: #f76c5e;
    font-weight: 600;
}

.login-card .btn-link:hover {
    text-decoration: underline;
}


/*css per logo*/
.Logoheight {
    max-width: 5rem;
    
}

p, h1, h2, h3, h4, h5, a {
    color: #5D180D !important;
}

.pMargin {
    padding: 3.8em 0;
}
/* CSS SEZIONE ANIMALI */
.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control,
.form-select {
    border-radius: 4px;
    border-color: #ced4da;
}

    .form-control:focus,
    .form-select:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    }

/*<style >*/


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

p {
    margin-bottom: 2rem;
}

a.button-link {
    text-decoration: none;
    color: white !important;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
}


a.table-link {
    text-decoration: none;
    color: #007bff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    a.table-link:hover {
        background-color: #f0f0f0;
        color: #0056b3;
    }

.form-group {
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.form-control {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}

table {
    border-collapse: collapse;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 1.5rem;
    text-align: left;
}

th {
    background-color: #007bff;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9e9e9;
}


button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button[type="submit"]:hover {
        background-color: #218838;
    }

main {
    margin-right: 5em;
    margin-left: 5em;
}


