@model BW2_Team6.Models.VisitViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>VisitViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeOfExam" class="control-label"></label>
                <input asp-for="TypeOfExam" class="form-control" />
                <span asp-validation-for="TypeOfExam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfCure" class="control-label"></label>
                <input asp-for="TypeOfCure" class="form-control" />
                <span asp-validation-for="TypeOfCure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
