@model BW2_Team6.Models.Product

@{
    ViewData["Title"] = "EditProduct";
}

<h1>EditProduct</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfProduct" class="control-label"></label>
                <input asp-for="TypeOfProduct" class="form-control" />
                <span asp-validation-for="TypeOfProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfUse" class="control-label"></label>
                <input asp-for="TypeOfUse" class="form-control" />
                <span asp-validation-for="TypeOfUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CompanyId">Seleziona Ditta</label>
                <select id="CompanyId" name="CompanyId" class="form-control" asp-items="ViewBag.Companies">
                    <option value="0">-- Seleziona ditta --</option>
                </select>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
